<div class="page-title">About this website</div>
<div class="col-md-11">
    <div class="section-title">Leaderboard section</div>
    <ul>
        <li>Prodives information about the top 250 players and those who are registered.</li>
        <li>It also shows the progress made by them during the day. The progresses are reseted everday at 4am EST.</li>
    </ul>
    <div class="section-title">Player Stats section</div>
    <ul>
        <li>Prodives detailed information about a specified player.</li>
        <li>Graphs show progesses made by the player during the past week</li>
        <li>If a player changes its name, its progress history won't be transfered to its new name</li>
    </ul>
    <div class="section-title">Compare Players section</div>
    <ul>
        <li>Provides distribution graphs</li>
        <li>Also uses a score system that penalise bot farming and loss avoiders</li>
        <li>Provides an interfaces that shows differences between to given players</li>
    </ul>
    <div class="section-title">Register Player section</div>
    <ul>
        <li>Provides intrustuctions to get registered on this website</li>
    </ul>
    <div class="section-title">Graveyard section</div>
    <ul>
        <li>Lists the players that are innactive</li>
    </ul>
    <app-login></app-login>
</div>