<div class="page-title">Compare</div>
<div class="col-md-11">
  <div class="section-title">Total Experience / Total Games</div>
  <div class="col-md-12 row">
    <canvas id="myChart" class="col-md-12" height="500"></canvas>
  </div>  
  <div class="section-title">Win % / Total Games</div>
  <div class="col-md-12 row" style="margin-top: 20px">
    <canvas id="myChart2" class="col-md-12" height="300"></canvas>
  </div>
  <div class="section-title">Goals per game / Total Games</div>
  <div class="col-md-12 row" style="margin-top: 20px">
    <canvas id="myChart3" class="col-md-12" height="300"></canvas>
  </div>
</div>
