<div class="page-title">Compare</div>
<div class="row view-selector col-md-11">
  <div class="col-md-4" [class.selected]="selectedView === 0" (click)="onSelect(0)">
    Distributions
  </div>
  <div class="col-md-4" [class.selected]="selectedView === 1" (click)="onSelect(1)">
    Score Board
  </div>
  <div class="col-md-4" [class.selected]="selectedView === 2" (click)="onSelect(2)">
    Player vs Player
  </div>
</div>
<div class="row foldable" [class.fold]="selectedView !== 0" id="0">
  <div class="col-md-11">
    <div class="section-title">Total Experience / Total Games</div>
    <div class="col-md-12 row">
      <canvas id="myChart" class="col-md-12" height="500"></canvas>
    </div>
    <div class="section-title">Survive Rate (Wins + Draws) / Total Games</div>
    <div class="col-md-12 row" style="margin-top: 20px">
      <canvas id="myChart2" class="col-md-12" height="300"></canvas>
    </div>
    <div class="section-title">Goals per game / Total Games</div>
    <div class="col-md-12 row" style="margin-top: 20px">
      <canvas id="myChart3" class="col-md-12" height="300"></canvas>
    </div>
  </div>
  <div class="col-md-11">
    <div class="section-title">Score / Total Games</div>
    <div class="col-md-12 row" style="margin-top: 20px">
      <canvas id="myChart4" class="col-md-12" height="300"></canvas>
    </div>
  </div>
</div>
<div class="row foldable" [class.fold]="selectedView !== 1" id="1">
  <div class="plain-text col-md-10">Experimental</div>
  <app-board *ngIf="scoreData && initialized" [labels]="scoreLabels" [data]="scoreData" [order]="scoreOrder" [id]="1"></app-board>
</div>
<div class="row foldable" [class.fold]="selectedView !== 2" id="2">
  <div class="section-title">Sooooon :3</div>
</div>