<div class="page-title">Player Statistics</div>
<br>
<div class="row col-md-11">
  <div class="form-group row col-md-12">
    <label for="SearchedPlayer" class="col-md-2 col-form-label">Player name: </label>
    <div class="col-md-6">
      <input type="text" (keyup)="onEnter($event)" class="form-control" id="SearchedPlayer" placeholder="Enter a name">
      <small id="NameHelp" class="form-text text-muted">This field is case sensitive </small>
    </div>
  </div>
  <div class="col-md-12">
    <div class="section-title">Informations</div>
    <table class="table table-striped col-md-11">
      <thead class="thead-dark">
        <tr>
          <th>Position</th>
          <th>Win</th>
          <th>Loss</th>
          <th>Draw</th>
          <th>Goal</th>
          <th>Assist</th>
          <th>Experience</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="data">
          <td>{{data.state.Position}}</td>
          <td>{{data.state.Wins}}</td>
          <td>{{data.state.Losses}}</td>
          <td>{{data.state.Draws}}</td>
          <td>{{data.state.goals}}</td>
          <td>{{data.state.assists}}</td>
          <td>{{data.state.Experience}}</td>
        </tr>
      </tbody>
    </table>
    <table class="table table-striped col-md-11">
      <thead class="thead-dark">
        <tr>
          <th>Games</th>
          <th>Goals / Game</th>
          <th>Assists / Game</th>
          <th>Exp / Game</th>
          <th>Wins / Losses</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="data">
          <td>{{data.ratio.Games}}</td>
          <td>{{data.ratio.GoalsGame}}</td>
          <td>{{data.ratio.AssistsGame}}</td>
          <td>{{data.ratio.ExpGame}}</td>
          <td>{{data.ratio.WinLoss}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-12 row" style="height: 300px;">
    <canvas height="300" id="ProgressionChart" class="col-md-6"></canvas>
    <canvas height="300" id="GameRatioChart" class="col-md-6"></canvas>
  </div>
  <div class="col-md-12 row" style="margin-top: 100px">
    <canvas id="GameChart" class="col-md-6"></canvas>
    <canvas id="PerformanceChart" class="col-md-6"></canvas>
  </div>
  <div class="col-md-12 row">
    <canvas id="GameTotalChart" class="col-md-12"></canvas>
    <canvas id="PerformanceTotalChart" class="col-md-12"></canvas>
  </div>
</div>
