<div class="page-title">Leaderboards</div>
<div class="row leaderbord-selector col-md-11">
  <div class="col-md-4" [class.selected]="selectedBoard === 0" (click)="onSelect(0)">
    Top Experience
  </div>
  <div class="col-md-4" [class.selected]="selectedBoard === 1" (click)="onSelect(1)">
    Top Win %
  </div>
  <div class="col-md-4" [class.selected]="selectedBoard === 2" (click)="onSelect(2)">
    Progress
  </div>
</div>
<div class="row foldable" [class.fold]="selectedBoard !== 0" id="0">
  <app-board *ngIf="entries" [labels]="leaderboardLabels" [data]="entries" [order]="leaderboardOrder" [id]="0"></app-board>
</div>
<div class="row foldable" [class.fold]="selectedBoard !== 1" id="1">
  <app-board *ngIf="statistics" [labels]="ratioLabels" [data]="statistics" [order]="ratioOrder" [id]="1"></app-board>
</div>
<div class="row foldable" [class.fold]="selectedBoard !== 2" id="2">
  <h6 class="dark">From {{getToday(-1)}} To {{getToday(0)}}</h6>  
  <app-board *ngIf="progress" [labels]="leaderboardLabels" [data]="progress" [order]="leaderboardOrder" [id]="2"></app-board>
</div>