<div class="page-title">Matchmaker</div>
<div class="col-md-11" style="margin-bottom: 50px;">
  <div class="section-title">Manage Teams</div>
  <hr/>  
  <div id="ManageTeams" class="col-md-12 row">  
    <div class="col-md-4">
      <input type="text" (change)="onTeamNameChanged()" class="form-control" id="SelectedTeam" placeholder="Enter a team name" list="TeamNames" />
      <small id="TeamHelp" class="form-text text-muted">This field is case sensitive </small>
      <datalist id="TeamNames">
        <option *ngFor="let team of teams" value="{{team}}"></option>
      </datalist>
    </div>
    <div id="NewTeamNameForm" class="col-md-4">
      <input type="text" class="form-control" id="NewTeamName" placeholder="Enter a new team name"/>
      <small id="NameHelp" class="form-text text-muted">Leave blank for no change</small>
    </div>
    <div id="AddMemberForm" class="col-md-4">
      <div class="input-group mb-3">
        <input type="text" class="form-control" id="NewMemberName" list="PlayerNames" placeholder="Enter a player name"/>
        <div class="input-group-append">
          <button class="btn btn-success" (click)="onAddPlayer()">Add</button>
        </div>
      </div>      
      <datalist id="PlayerNames">
        <option *ngFor="let player of players" value="{{player}}"></option>
      </datalist>
    </div>
    <div id="TeamMembers" class="col-md-12 offset">
      <span class="labeler">Team members: </span>
      <span id="MemberList">
      </span>
    </div>    
    <div class="col-md-1">
      <span id="TeamSubmit" class="btn btn-success" (click)="onTeamSave()">Save</span>
    </div>
  </div>
  <div class="section-title">Manage Events</div>
  <hr/>
  <div id="ManageEvents" class="col-md-12 row">
    <div class="col-md-4">
      <input type="text" (change)="onEventNameChanged()" class="form-control" id="SelectedEvent" placeholder="Enter an event name" list="EventNames" />
      <small id="EventHelp" class="form-text text-muted">This field is case sensitive </small>
      <datalist id="EventNames">
        <option *ngFor="let event of events" value="{{event}}"></option>
      </datalist>
    </div>
    <div id="NewEventNameForm" class="col-md-4">
      <input type="text" class="form-control" id="NewEventName" placeholder="Enter a new event name"/>
      <small id="NameHelp" class="form-text text-muted">Leave blank for no change</small>
    </div>
    <div class="col-md-1">
      <span id="EventSubmit" class="btn btn-success" (click)="onEventSave()">Create</span>
    </div>
  </div>
  <div class="section-title">Manage Matches</div>
  <hr/>
  <div id="ManageMatches" class="col-md-12 row">
    <div id="MatchSettingForm" class="col-md-12 row">
      <div class="col-md-2">
        <div class="custom-control custom-switch" (click)="onMatchModeChange()">
          <input type="checkbox" class="custom-control-input" id="MatchMode"/>
          <label class="custom-control-label" for="MatchMode">Team Match</label>
        </div>
      </div>
      <div class="col-md-4">
        <input type="text" class="form-control" id="MatchEvent" placeholder="Enter an event name" list="EventNames" />
        <small id="TeamHelp" class="form-text text-muted">This field is optional</small>
      </div>
      <div class="col-md-4">
        <span class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Load Match</span>
      </div>
      <div id="1v1Form" class="col-md-10 input-group offset">
        <input type="text" class="form-control" id="Player1" placeholder="Enter a player name" list="PlayerNames" (change)="onOpponentsChanged()"/>
        <div class="input-group-append">
          <span class="input-group-text">VS</span>
        </div>
        <input type="text" class="form-control" id="Player2" placeholder="Enter a player name" list="PlayerNames" (change)="onOpponentsChanged()"/>
      </div>
      <div id="TvTForm" class="col-md-10 input-group offset">
        <input type="text" class="form-control" id="Team1" placeholder="Enter a team name" list="TeamNames" (change)="onOpponentsChanged()"/>
        <div class="input-group-append">
          <span class="input-group-text">VS</span>
        </div>
        <input type="text" class="form-control" id="Team2" placeholder="Enter a team name" list="TeamNames" (change)="onOpponentsChanged()"/>
      </div>           
      <div class="col-md-3 offset">
        <div class="custom-control custom-switch" (click)="onEnterResultsChange()">
          <input type="checkbox" class="custom-control-input" id="EnterResults"/>
          <label class="custom-control-label" for="EnterResults">Enter Results</label>
        </div>
      </div>      
      <div class="col-md-7 offset">
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="AggregateScore"/>
          <label class="custom-control-label" for="AggregateScore">Aggregate Score</label>
        </div>
      </div>
    </div>
    <div id="ResultsForm" class="col-md-10 offset">     
      <input type="text" class="form-control" id="VideoLink" placeholder="Enter a video link" style="width: 70%" [(ngModel)]="selectedMatch.VideoLink"/>
      <div id="ResultSection" class="offset">
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th>Game</th>
              <th id="Opponent1"></th>
              <th id="Opponent2"></th>
              <th></th>
            </tr>
          </thead>
          <tbody id="ResultGames">
            <tr *ngFor="let game of selectedMatch.Results">
              <td>{{getGameIndex()}}</td>
              <td><input name="opp1" type="number" class="form-control" value="{{game[0]}}"/></td>
              <td><input name="opp2" type="number" class="form-control" value="{{game[1]}}"/></td>
              <td><button class="btn btn-outline-danger remove-game" (click)="onRemoveGame()"><i class="fa fa-times"></i></button></td>
            </tr>
          </tbody>
        </table>
        <span class="btn btn-success" (click)="onAddGame()">Add Game</span>
        <div class="offset">
          <div class="custom-control custom-switch" (click)="onEnterPersonalGoalsChange()">
            <input type="checkbox" class="custom-control-input" id="EnterPersonalGoals"/>
            <label class="custom-control-label" for="EnterPersonalGoals">Enter Personal Goals</label>
          </div>
        </div>
      </div>
      <div id="PersonalGoalSection" class="row">
        <div *ngFor="let player of opponentsPlayers" id='{{player}}' class='input-group col-md-6'>
          <div class='input-group-prepend' style='margin-bottom: 15px;'>
            <span class='input-group-text'>{{player}}</span>
          </div>
          <input type='number' class='form-control' placeholder='Goals'/>       
          <input type='number' class='form-control' placeholder='Assists'/>
        </div>
      </div>
    </div>    
    <div class="col-md-6 offset">
      <span id="MatchSubmit" class="btn btn-success" (click)="onMatchSave()">Create</span>
    </div>
  </div>
  <div id="MatchSearchModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="MatchSearchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="MatchSearchModalLabel">Search match</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body row">
          <div class="col-md-4">
            <input type="text" class="form-control" id="PlayerSearch" placeholder="Player name"/>
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control" id="TeamSearch" placeholder="Team name"/>
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control" id="EventSearch" placeholder="Event name"/>
          </div>
          <div class="col-md-12 offset row">
            <label for="FromDate" class="col-md-1 col-form-label">From date:</label>
            <div class="col-md-4">
              <input type="date" class="form-control" id="FromDate"/>
            </div>
            <label for="ToDate" class="col-md-1 col-form-label">To date:</label>
            <div class="col-md-4">
              <input type="date" class="form-control" id="ToDate"/>
            </div>
            <div class="col-md-2">
              <button (click)="onSearchMatches()" class="btn btn-primary">Search</button>
            </div>
          </div>
          <div class="col-md-12 offset">
            <table id="MatchingMatches" class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th>Match Name</th>
                  <th>Event</th>
                  <th>Date</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let match of searchedMatches">
                  <td>{{(match.match_name_1)? match.match_name_1 : match.match_name_2}}</td>
                  <td>{{match.event}}</td>
                  <td>{{match.date}}</td>
                  <td><button class="btn btn-primary" (click)="onLoadMatch(match.id)">Load</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>