/* Coolors Exported Palette - coolors.co/021214-23ea58-d5e2bc-b24a4a-3d3dd3 */

/* HSL */
$color1: hsla(187%, 82%, 4%, 1);
$color2: hsla(136%, 83%, 53%, 1);
$color3: hsla(81%, 40%, 81%, 1);
$color4: hsla(0%, 41%, 49%, 1);
$color5: hsla(240%, 63%, 53%, 1);

/* RGB */
$color1: rgba(2, 18, 20, 1);
$color2: rgba(35, 234, 88, 1);
$color3: rgba(213, 226, 188, 1);
$color4: rgba(178, 74, 74, 1);
$color5: rgba(61, 61, 211, 1);