/* You can add global styles to this file, and also import other style files */
.page-title{
    font-size: 25pt;
    font-weight: bold;
    color: rgba(2, 18, 20, 1);
    user-select: none;
}

.section-title{
    padding-top: 20px;
    font-size: 18pt;
    font-weight: bold;
    color: rgba(2, 18, 20, 1);
    user-select: none;
}

.red{
    color: rgba(178, 74, 74, 1);
}

.blue{
    color: rgba(61, 61, 211, 1);
}

.dark{
    color: rgba(2, 18, 20, 1);
}