<div class="side-bar">
  <div class="car-img">
    <img src="assets/bumpycar.png" alt="car image">
  </div>
  <h3 class="nav-title">
    BumpyStats
  </h3>
  <div class="nav-elements">
    <div [class.selected]="1 === selectedIndex" (click)="onSelect(1)" routerLink="/Leaderboards">
      <a><i class="fa fa-columns"></i> Leaderboards</a>
    </div>
    <div [class.selected]="2 === selectedIndex" (click)="onSelect(2)" routerLink="/PlayerStats">
      <a><i class="fa fa-chart-bar"></i> Player Stats</a>
    </div>
    <div [class.selected]="3 === selectedIndex" (click)="onSelect(3)" routerLink="/Compare">
      <a><i class="fa fa-project-diagram"></i> Compare Players</a>
    </div>
    <div [class.selected]="4 === selectedIndex" (click)="onSelect(4)" routerLink="/Register">
      <a><i class="fa fa-plus"></i>Register Player</a>
    </div>
    <div [class.selected]="5 === selectedIndex" (click)="onSelect(5)" routerLink="/Graveyard">
      <a><i class="fa fa-skull-crossbones"></i>Graveyard</a>
    </div>
    <div *ngIf="auth.isAuthenticated()" [class.selected]="7 === selectedIndex" (click)="onSelect(7)" routerLink="/Matchmaker">
      <a><i class="fa fa-clipboard-list"></i>Matchmaker</a>
    </div>
    <div [class.selected]="6 === selectedIndex" (click)="onSelect(6)" routerLink="/About">
      <a><i class="fa fa-info-circle"></i>About</a>
    </div>
  </div>
  <div class="fixed-bottom">
    <button class="btn btn-default" (click)="onLogin()">Login</button>
    <button class="btn btn-default" (click)="onLogout()">Logout</button>
  </div>
</div>